@model KursovayaBlazorNet6.Models.ReviewsModel

@{
    ViewData["Title"] = "Удаление отзыва";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены, что хотите удалить этот отзыв?</h3>
<div>
   
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    
    <form asp-action="DeleteReviewView">
        <input type="submit" value="Удалить" class="btn btn-light" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
